body {
    background-color: #111827;
    color: #eeeeee;
    font-family: Montserrat;
}
header {
    width: 100%;
    height: 5rem;
    background-color: #374151;
    border-radius: 1rem;
    display: flex;
    font-weight: bolder;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.destaques{
    display:flex;
    margin-top: 1rem;
}
.destaque-principal{
    display:flex;
}

.destaque-principal img{
    width: 100%;
    border-radius: 0.2rem;
}
.destaques-secundarios{
    display:none;
}

.galeria-jogos{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-jogo {
    flex-basis: 19rem;
    border-width: 0px;
    padding: .2rem;
    margin: .1rem;
    border-radius: 2px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.card-jogo img{
    border-radius: 0.2rem;
    object-fit: scale-down;
    width: 100%;
}

.info-card{

}

.descricao{
    display: none;
}

.botoes-card {
    display: flex;
    flex-direction: column;
}
.botoes-card button{
    margin-top: .1rem;
    border-width: 0px;
    border-radius: 2px;
    font-size: 0.5rem;
}

.btn-comprar {
    background-color: #22c55e;
}

.btn-carrinho {
    background-color: #eab308;
}

@media(min-width: 768px){
    main{
        width: 768px;
        margin: 0 auto;
    }
    .destaques {
        display: flex;
        margin-top: 1rem;
        justify-content: space-around;
    }
    .destaque-principal{
        width: 66%;
        border-radius: 0.2rem;
    }

    .destaque-principal img {
        width: 100%;
        border-radius: 0.2rem;
    }

    .destaques-secundarios {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        width: 33%;
        border-radius: 0.2rem;
    }
    .destaques-secundarios img {
        width: 100%;
        border-radius: 0.2rem;
    }

    .galeria-jogos {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card-jogo {
        display: flex;
        flex-basis: 14rem;
        border-width: 0px;
        padding: .2rem;
        margin: .1rem;
        border-radius: 2px;
        background-color: #1f2937;
        flex-shrink: 0;
        flex-grow: 1;
        flex-direction: row;
    }

    .card-jogo img {
        border-radius: 0.2rem;
        object-fit: scale-down;
        width: 100%;
    }

    .descricao {
        display: block;
        font-size: 0.4rem;
    }

    .botoes-card button {
        border-width: 0px;
        border-radius: 2px;
        font-size: 0.5rem;
    }

    .btn-comprar {
        background-color: #22c55e;
    }

    .btn-carrinho {
        background-color: #eab308;
    }
}
